$header-color: #e4e7ed;

$table-header-color: #5f7f88;
$dialog-header-color: #5f7f88;
$card-header-color: #617180;
$--size-base: 15px;
$input-background: #fff;
$input-focus-color: #77bad4;
$margin: 3px;
$line-height: 22px;
$header-height: 28px;
